 .el-menu {
    border-right: solid 0px #222;
}
.el-submenu {
    .el-menu-item {
        height: 65px;
        line-height: 65px;
        padding: 0;
        min-width: 65px;
        padding-left: 0px;
    }
}
.el-menu-item {
    height: 65px;
    line-height: 65px;
    &.is-active {
        color: #fff;
        padding-left: 0px;
        background: #222;
    }
}
.el-submenu__title {
    height: 65px;
    line-height: 65px;
}
.el-menu-item-group__title {
    padding: 0;
}
.iconfont {
    font-size: 25px;
}