 .el-menu {
    border-right: solid 0px #222;
}
.el-submenu {
    .el-menu-item {
        height: 60px;
        line-height: 60px;
        padding: 0;
        min-width: 50px;
        padding-left: 0px;
    }
}
.el-menu-item {
    height: 70px;
    line-height: 70px;
    &.is-active {
        color: #fff;
        padding-left: 0px;
    }
}
.iconfont {
    font-size: 25px;
}